<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cointerproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ListaInvestimentos" />
        <activity android:name=".view.Home" />
        <activity android:name=".view.TelaConsultaValores" />
        <activity
            android:name=".view.GraficoActivity"
            android:label="title_activity_grafico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CadastroActivity"
            android:label="title_activity_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.TelaLogin"
            android:label="@string/title_activity_tela_login" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ListaInvestimentos" />
        <activity android:name=".ui.AcompanharInvestimento" />
        <activity android:name=".view.CadastroInvActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>